body,
html{
    width :100%;
    height: 100%;
}

body{
    font-family: 'Helvetica';
    
}

#borderLight{
    margin: 3px;
    /* border: 3px solid #343a40; */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 3px;
    padding-bottom:3px; 
}



#borderLightWorks{
    padding-left: 20px;
    padding-right: 20px;

}

.borderpadding{
    padding:40px;
}

.borderpaddingtest{
    border: 3px solid #343a40;
}
#about{
    padding: 8%;
}

.spanProp{
    display: inline;
    
}
.imgProp{
    width:40%;
}

.imgPropfeatures{
    margin : 0 auto;
    max-width: 90%;
    max-height: 90%;
}

#override{
    /* display: block; */
    float:left;
    width:50%;
    height: auto;
}

 .centeredposition{
    max-width: 90%;
    height:auto;
    height:90%; 

    /* margin:auto; */
}


/* .centeredposition{
    max-width: 90%;
    max-height: 70%;
    margin:auto;
} */

.imgPropfeaturesmobile{
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-top:5px;
    padding-bottom:5px;
    max-width: 90%;
    max-height: 90%; 
    margin-top: 30px;
   
}

/* align content for the product text */
.align-content{
    text-align: justify;
}


/* customized fonts */
.applyVarelaFont {
    font-family: 'Varela Round';
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 16px;

}

.applyVarelaFontColor {
    font-family: 'Varela Round';
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 16px;
    color: #7c8696;
}

.applyVarelaheaderColor{
    font-family: 'Varela Round';
    font-style:normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 4rem;
    color: #4A6171;

}


.applyHeaderColor{
    font-family: 'Varela Round';
    font-style:normal;
    color: #ffffff;
    font-weight: bold;
    line-height: 20px;
    font-size: 4rem;
}

.applyHeaderColorTag{
    font-family: 'Varela Round';
    font-style:normal;
    color:#75a3a3;
    font-weight: 200PX;
    line-height: 20px;
    font-size: 2rem;
    padding-top: 50px;
}


@font-face{
    font-family : 'Varela Round';
    font-weight :400;
    src:url('../fonts/varela-round_adbe9eb0b4fa59e378d6c926d70362b7.ttf') format('truetype'); 
}

.menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align:  center;
    color: #ffffff;
    background: rgba(52,58,64,0.5);
    line-height: 50px;
    z-index: 999;
}

.menu-toggle:focus,.menu-toggle:hover{
    color:#ffffff;
}

.menu-toggle:hover{
    background: #343a40; 
}

#sidebar-wrapper{
    position: fixed;
    z-index: 2;
    right: 0;
    width: 250px;
    height: 100%;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background:  #1d809f;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav{
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li.sidebar-nav-item a {
 display: block;
 text-decoration: none;
 color: #ffffff;
 padding :15px;
}

.sidebar-nav li a:hover{
    text-decoration: none;
    color:#ffffff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus{
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand{
    font-size: 1.2rem;
    background: rgba(52, 58, 64, 0.1);
    height: 80px;
    line-height: 50px;
    padding-top:  15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.sidebar-nav > .sidebar-brand a {
    color: #ffffff;
}

.sidebar-nav > .sidebar-brand a:hover{
    color: #ffffff;
    background: none;
}

#sidebar-wrapper.active{
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition:  all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition:  all 0.4s ease 0s;
    transition: all 0.4s ease 0s
}


.masthead{
     min-height: 30rem;
     position: relative;
     display: table;
     width:  100%;
     height: auto;
     padding-top: 8rem;
     padding-bottom: 8rem;
     background : linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/Astronaut1.jpg");
     background-position:center center;
     background-repeat:no-repeat;
     background-size:cover;
     /* -webkit-transition: background-size 0.2s ease-in-out;
     transition: background-size 0.2s ease-in-out; */
     -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}




.masthead h1 {
    font-size: 4rem;
    margin:0;
    padding:0;
}

#entityName{
    animation-name: movetext;
    animation-duration: 6s;
}

@-webkit-keyframes movetext{
   0% {
       opacity:0;
    }
    20%{
        opacity:0;
        transform: translate(0%,100px);
    }
    
    60% {
        opacity: 1;
        transform: translate(0%, 0px);
    }
    80% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}
.animateresponsivehidden{
    opacity:0;
}
.animateresponsivehidden2sec{
    opacity:0;
}
.animateresponsivehidden4sec{
    opacity:0;
}
.animateresponsivehidden6sec{
    opacity:0;
}

.animateContent{
    opacity:0;
}

.animateContentResponsive{
    animation-name: animateContentResponsiveStyle;
    animation-duration: 5s;
}

.animateresponsive{
    animation-name: animateResponsive;
    animation-duration: 6s;
}

.animateresponsiveDelayed2Sec{
    animation-name: animateResponsiveDelayed2Sec;
    animation-duration: 8s;
}

.animateresponsiveDelayed4Sec{
    animation-name: animateResponsiveDelayed2Sec;
    animation-duration: 10s;
}

.animateresponsiveDelayed6Sec{
    animation-name: animateResponsiveDelayed2Sec;
    animation-duration: 15s;
}


@-webkit-keyframes animateContentResponsiveStyle{
    0%{
        opacity:0;
    }
    20%{
        opacity:0;
        transform: translate(0%,60px);
    }

    60%{
        opacity:1;
        transform: translate(0%,0px);
    }
    80%{
        opacity:1;
    }
    100%{
        opacity:1;
    }

}

@-webkit-keyframes animateResponsiveDelayed2Sec{
    0%{
        opacity:0;
    }
    20%{
        opacity:0;
        transform: translate(0%,100px);
    }

    60%{
        opacity:1;
        transform: translate(0%,0px);
    }
    80%{
        opacity:1;
    }
    100%{
        opacity:1;
    }

}

@-webkit-keyframes animateResponsive {
     0%{
        opacity:0;
    }
    20%{
        opacity:0;
        transform: translate(0%,100px);
    }
    60%{
        opacity:1;
        transform:translate(0%,0px);
    }
    80%{
        opacity:1;
    }
    100%{
        opacity:1;
    }

}



@media (min-width: 992px){
    .masthead{
        height: 100vh;
    }
    .masthead h1{
        font-size:  5.4rem;
    }
}


.btn-md {
    padding: 1.25rem 2.5rem;
    border-radius:35px;
}


.content-section{
    padding-top: 8.5rem;
    padding-bottom: 7.5rem;
}

.content-section-rihaworks{

    padding-top: 2.5rem;
    padding-bottom: 1.5rem;

}

.content-section-heading h2{
    font-size: 3rem;
}

.content-section-heading h3{
    font-size: 1rem;
    text-transform:  uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight:700;
}

.portfolio-item{
    display:block;
    position:relative;
    overflow:hidden;
    max-width: 530px;
    margin: auto auto 1rem;
}

.portfolio-item .caption{
    display:flex;
    height:100%;
    width: 100%;
    background-color: rgba(33,37,41, 0.2);
    position:absolute;
    top:0;
    bottom: 0;
    z-index: 1;
}

.portfolio-item .caption .caption-content{
    color: #ffffff;
    margin:auto 2rem 2rem;
}
.portfolio-item .caption .caption-content h2{
    font-size: 0.8rem;
    text-transform: uppercase;
}
.portfolio-item .caption .caption-content p{
    font-weight: 300;
    font-size: 1.2rem;
}

@media(min-width:992px){
.portfolio-item{
    max-width: none;
    margin:0;
}

.portfolio-item .caption{
    -webkit-transition: -webkit-clip-path 0.25s ease-out,background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
}
.portfolio-item .caption .caption-content{
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right:5rem;
    margin-bottom:5rem;
}
.portfolio-item img{
    -webkit-transition: -webkit-clip-apth 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
}
.portfolio-item:hover img{
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);

}
.portfolio-item:hover.caption{
    background-color: rgba(29, 128, 159, 0.9);
    -webkit-clip-path:inset(2rem);
    clip-path: inset(2rem);
}

}


@media (min-width:992px) {
    .container{
        max-width: 100%;
    }
}
@media (min-width:1200px) {
    .container{
        max-width:100%;
    }
}
    

